

<div class="main">
  <div class="main-back">
    <div class="new">
      <div class="main-header">
        <%= link_to tweets_path  do%>
        <p><i class="fas fa-undo-alt"></i>INDEX</p>
        <%end%>
        <%=link_to new_tweet_path do%>
          <p><i class="fas fa-plus"></i>New</p>
        <%end%> 
      </div>
      <h1>Twitter <span>Show Page!!</span></h1>
      
      <div class="show-body">
        <h2>
           <%=link_to user_path(@tweet.user.id),class:"show-name" do%>
              <p><%=@tweet.user.username%></p>
            <%end%>
        </h2>
        <h2 class="show-content"><%=@tweet.body%></h2>
        <div class="tweet-menu">
          <div class="like" id="likes_buttons_<%= @tweet.id %>">
              <%= render partial: 'likes/like', locals: { tweet: @tweet} %>
          </div>
          <%if current_user==@tweet.user%>
            <%=link_to edit_tweet_path(@tweet.id),class:"non-danger" do%>
              <p>edit</p>
            <%end%>  
            <%=link_to tweet_path(@tweet.id),method: :delete,class:"danger" do%>
              <p>delete</p>
            <%end%>  
          <%end%>
        </div>
      </div>
      <div class="comment-wapper">
        <div class="comment-header">
          <h2>Comment</h2>
          <%= form_with(model: [@tweet,@comment], local: true) do |f| %>
            <div class="comment-btn">
              <%= f.text_field :comment,:placeholder => "Comment"%>
              <i class="fas fa-arrow-right"></i><%= f.submit "Post it" %>
            </div>
          <% end %>
        </div>
       

        <div class="comment-index">
          <% @comments.each do |c| %>
            <div class="comment-index-box">
              <div class="comment-name">
                <h3>
                  <%=link_to user_path(c.user.id),class:"user-link" do%>
                    <%if c.user.admin?%>
                      <p><i class="fas fa-certificate"></i><%=c.user.username unless c.user.blank?%></p>
                    <%else%>  
                      <p><%=c.user.username unless c.user.blank?%></p>
                    <%end%>  
                  <%end%>
                </h3>
              </div>
              <div class="comment-content">
                <p><%= c.comment %></p>
              </div>
              <div class="comment-menu">
                <%if current_user == c.user || current_user.admin?%>
                  <%=link_to comment_destroy_path(c.id), method: :delete do %>
                    <p class="danger">delete</p>
                  <% end %>  
                <%end%>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>